[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll.git
[submodule "vendor/SafeInt"]
	path = vendor/SafeInt
	url = https://github.com/dcleblanc/SafeInt.git
