[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll.git
[submodule "vendor/SafeInt"]
	path = vendor/SafeInt
	url = https://github.com/dcleblanc/SafeInt.git
[submodule "vendor/sc4-dll-utilities"]
	path = vendor/sc4-dll-utilities
	url = https://github.com/0xC0000054/sc4-dll-utilities.git
[submodule "vendor/wil"]
	path = vendor/wil
	url = https://github.com/microsoft/wil.git
[submodule "vendor/frozen"]
	path = vendor/frozen
	url = https://github.com/serge-sans-paille/frozen.git
